<div class="row">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

            

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "reg-page"}) do |f| %>
        <%= devise_error_messages! %>

        <div class="reg-header">
            <h2>Register a new account</h2>
            <p>Already Signed Up? Click <a href="/users/sign_in" class="color-green">Sign In</a> to login your account.</p>                    
        </div>

        <div><%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control margin-bottom-20" %></div>

        <div class="row">
          <div class="col-sm-6">

            <div><%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control margin-bottom-20" %></div>
          </div>
          <div class="col-sm-6">
            <div><%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control margin-bottom-20" %></div>
          </div>

        </div>

        <div class="row">
            <div class="col-lg-6 checkbox">
                <label>
                  <%= f.check_box :vendor %>
                  Vendor
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 checkbox">
                <label>
                    <input type="checkbox"> 
                    I read <a href="page_terms.html" class="color-green">Terms and Conditions</a>
                </label>                        
            </div>
            <div class="col-lg-6 text-right">
              <%= f.submit "Sign up", class: 'btn-u' %> 
            </div>
        </div>

      <% end %>

  </div>
</div>
