<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<head>
  <title>EventPlanningApp</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="dark">

  <div class="wrapper">
      <!--=== Header ===-->    
      <div class="header">
          <!-- Topbar -->
          <div class="topbar">
              <div class="container">
                  <!-- Topbar Navigation -->
                  <ul class="loginbar pull-right">
                    <% if user_signed_in? %>
                      <li><a href="/users/sign_out">Sign Out</a></li>
                    <% else %>
                      <li><a href="/users/sign_up">Sign Up</a></li>
                      <li><a href="/users/sign_in">Sign In</a></li>   
                    <% end %>
                  </ul>
                  <!-- End Topbar Navigation -->
              </div>
          </div>
          <!-- End Topbar -->
      
          <!-- Navbar -->
          <div class="navbar navbar-default mega-menu" role="navigation">
              <div class="container">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="fa fa-bars"></span>
                      </button>
                      <a class="navbar-brand" href="/">
                          <img id="logo-header" src="assets/img/logo1-default.png" alt="Logo">
                      </a>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse navbar-responsive-collapse">
                      <ul class="nav navbar-nav">
                          <!-- Contacts -->
                          <% if user_signed_in? %>
                          <li class="dropdown">
                              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                  Actions
                              </a>
                              <ul class="dropdown-menu">
                                  <% if vendor_signed_in? %>
                                    <li><%= link_to "My Photos", photos_path %></li>
                                    <li><%= link_to "Upload Photo", new_photo_path %></li>
                                  <% end %>
                                  <li><a href="/users/edit">Edit Profile</a></li>
                              </ul>
                          </li>
                          <% end %>           
                          <!-- End Contacts -->

                          <!-- Search Block -->
                          <li>
                              <i class="search fa fa-search search-btn"></i>
                              <div class="search-open">
                                  <div class="input-group animated fadeInDown">
                                      <input type="text" class="form-control" placeholder="Search">
                                      <span class="input-group-btn">
                                          <button class="btn-u" type="button">Go</button>
                                      </span>
                                  </div>
                              </div>    
                          </li>
                          <!-- End Search Block -->
                      </ul>
                  </div><!--/navbar-collapse-->
              </div>    
          </div>            
          <!-- End Navbar -->
      </div>
      <!--=== End Header ===-->       
  <div class="container content">
    <%= yield %>
  </div>

  <!--=== Footer Version 1 ===-->
      <div class="footer-v2">
          <div class="footer">
              <div class="container">
                  <div class="row">
                      <!-- About -->
                      <div class="col-md-3 md-margin-bottom-40">
                          <a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/logo2-default.png" alt=""></a>
                          <p>About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.</p>
                          <p>Duis eleifend fermentum ante ut aliquam. Cras mi risus, dignissim sed adipiscing ut, placerat non arcu.</p>    
                      </div><!--/col-md-3-->
                      <!-- End About -->

                      <!-- Latest -->
                      <div class="col-md-3 md-margin-bottom-40">
                          <div class="posts">
                              <div class="headline"><h2>Latest Posts</h2></div>
                              <ul class="list-unstyled latest-list">
                                  <li>
                                      <a href="#">Incredible content</a>
                                      <small>May 8, 2014</small>
                                  </li>
                                  <li>
                                      <a href="#">Best shoots</a>
                                      <small>June 23, 2014</small>
                                  </li>
                                  <li>
                                      <a href="#">New Terms and Conditions</a>
                                      <small>September 15, 2014</small>
                                  </li>
                              </ul>
                          </div>
                      </div><!--/col-md-3-->  
                      <!-- End Latest --> 
                      
                      <!-- Link List -->
                      <div class="col-md-3 md-margin-bottom-40">
                          <div class="headline"><h2>Useful Links</h2></div>
                          <ul class="list-unstyled link-list">
                              <li><a href="#">About us</a><i class="fa fa-angle-right"></i></li>
                              <li><a href="#">Portfolio</a><i class="fa fa-angle-right"></i></li>
                              <li><a href="#">Latest jobs</a><i class="fa fa-angle-right"></i></li>
                              <li><a href="#">Community</a><i class="fa fa-angle-right"></i></li>
                              <li><a href="#">Contact us</a><i class="fa fa-angle-right"></i></li>
                          </ul>
                      </div><!--/col-md-3-->
                      <!-- End Link List -->                    

                      <!-- Address -->
                      <div class="col-md-3 map-img md-margin-bottom-40">
                          <div class="headline"><h2>Contact Us</h2></div>                         
                          <address class="md-margin-bottom-40">
                              25, Lorem Lis Street, Orange <br />
                              California, US <br />
                              Phone: 800 123 3456 <br />
                              Fax: 800 123 3456 <br />
                              Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>
                          </address>
                      </div><!--/col-md-3-->
                      <!-- End Address -->
                  </div>
              </div> 
          </div><!--/footer-->

          <div class="copyright">
              <div class="container">
                  <div class="row">
                      <div class="col-md-6">                     
                          <p>
                              2014 &copy; All Rights Reserved.
                             <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                          </p>
                      </div>

                      <!-- Social Links -->
                      <div class="col-md-6">
                          <ul class="footer-socials list-inline">
                              <li>
                                  <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                      <i class="fa fa-facebook"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                                      <i class="fa fa-skype"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                      <i class="fa fa-google-plus"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                      <i class="fa fa-linkedin"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                                      <i class="fa fa-pinterest"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                      <i class="fa fa-twitter"></i>
                                  </a>
                              </li>
                              <li>
                                  <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                                      <i class="fa fa-dribbble"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                      <!-- End Social Links -->
                  </div>
              </div> 
          </div><!--/copyright-->
      </div>
      <!--=== End Footer Version 1 ===-->


  <script>
  jQuery(document).ready(function() {
      App.init();
  });
  </script>
</body>
</html>
